.DS_Store
.build*/
.cache/
.deriveddata*/
.swiftpm/
DerivedData/
xcuserdata/
*.xcuserstate
TimerCLI/timer
SimpleTimer.xcodeproj/project.xcworkspace/xcuserdata/
dist/
AppIcon.iconset/
*.certSigningRequest
*.cer
